{% extends 'home.html' %}

{% block title %}Login - Django Car Shop{% endblock %}

{% block header %}Login{% endblock %}

{% block content %}
    <div class="login-container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-container">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="id_username" class="col-sm-3 col-form-label">Username:</label>
                    <div class="col-sm-9">
                        {{ form.username }}
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="id_password" class="col-sm-3 col-form-label">Password:</label>
                    <div class="col-sm-9">
                        {{ form.password }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
            </form>
        </div>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
        {% endif %}
    </div>
{% endblock %}